@use "kleuren" as *;
@use "mixin" as *;
@use "font" as *;

.scroll-button {
  @include text-styles($font-size, #fff);
  display: inline-block;
  padding: 10px 20px;
  background-color: $primary-color;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: $background-color 0.3s;

  &:hover {
    background-color: darken($primary-color, 100%);
  }
}
